

@if(isLoading()){
<app-loader/>
}
@else {
  @if(info()){
    <p class="info">{{info()}}</p>
  }
  @switch ((mode())) {
    @case ("task") {
      <app-task-form/>
    }@case ("worker") {
     <app-worker-form/>
    }
    @case("tasks"){
      <!-- @if(isLoading()){
        <app-loader/>
      }@else { -->
        @if(tasks().length){
          
          @for(task of tasks();track task.id){
        <app-task [task]="task"/>
        }
          }@else {
            <p>No tasks to show</p>
          }
      <!-- } -->
 
  
    }
    @default {
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non id quibusdam nihil! Nemo veniam quia magni possimus eius sint explicabo expedita velit ab perspiciatis! Atque obcaecati dolores in excepturi nulla.
    }
  }


}




