<div *ngIf="worker$|async as worker" class="bg-green-950 text-slate-200 p-2">
  <div class=" bg-red-800 p-4 my-4">
    <div class="grid grid-cols-2">
      <img [src]="worker.worker.image" [alt]="worker.worker.name "  class="rounded-[100vh]  w-[40%] m-auto"/>
      <div class=" flex flex-col">
        <h2 class="uppercase text-lg text-center  border-b-2 border-slate-400  p-2">{{worker.worker.name}}</h2>
      <h3 class=" bg-green-400 grid grid-cols-[max-content_1fr] items-baseline p-2 mt-2"> status: <p class="border-2 p-3 ml-2 inline-block ">{{worker.worker.status}}</p></h3>
      </div>
        
      
    </div>
    <div class="grid grid-cols-2 my-3">
      <button  (click)="setDetails('address')" class="border-green-700  rounded-full button  "> See address </button>
         
      <button  (click)="setDetails('tasks')" *ngIf="worker.tasks.length" class="border-green-700  rounded-full button"> See Tasks </button>
       </div>

   
  <div>
  <div *ngIf="details().address.length || details().tasks.length">
    <div *ngIf="details().tasks.length; else addresses">
      <div *ngIf="details().tasks as tasks">
        
        <div *ngIf="tasks.length===1 && details().showDetails;else tasksFull">
          <p *ngIf="info">{{info}}</p>
          <div *ngIf="tasks[0] as task">
           
            <app-detailed-block [task]="task">
              <button (click)="showDetails(task.id)" class="button mx-2 rounded-full"> Details</button>
              <button (click)="removeTask(task.id)" class="button  rounded-full" >Remove</button>
              <div ngProjectAs="details" class=" my-2 p-3 border-2 border-slate-300">
              <h2> Title: {{task.title}} </h2>
    <p> Task: {{task.content}}</p>
    <p>Added by: {{task.addedBy}}</p>
    <p> this task should be done until: {{task.deadline.split("T")[0]}}</p>
              </div>
            </app-detailed-block>
             
          </div>
       
            </div>
        <ng-template #tasksFull>
          <p>There are {{tasks.length}}  {{details().name}} to show</p>
          @for(task of tasks; track task.id){
            <div class="grid grid-cols-2 bg-orange-600 my-3 p-3">
              <p class="flex items-center justify-center">{{task.title}} <span>status: {{task.completed?"completed":"unfinished"}} </span></p>
              <div class="flex justify-end">
                <button (click)="showDetails(task.id)" class="button mx-2 rounded-full"> Details</button>
                <button *ngIf="task.completed" class="button  rounded-full" >Remove</button>
               
              </div>
              
     
            </div>
          }

        </ng-template>
       

        </div>
    
       </div>
      <ng-template #addresses>
        addresses will be here
      </ng-template>
 

 
     </div>
    <!-- @switch (details()) {
      @case ("tasks") {
       there are  {{worker.tasks.length}} tasks to show
      }
      @case ("address") {
        rhere are  {{worker.worker.address.length}} addresses to show
       }
    } -->
  </div>
  </div>

</div>