


  <p  class="info"*ngIf="info">{{info}}</p>
  <div *ngIf="worker$|async as worker" class="bg-purple-950 text-slate-200 p-2">
 
    <div class="  p-4 my-4">
      <div class="grid  min-[450px]:grid-cols-2">
        <img [src]="worker.worker.image" [alt]="worker.worker.name "  class="rounded-[100vh]  w-[40%] m-auto"/>
        <div class=" flex flex-col">
          <h2 class="uppercase text-lg text-center  border-b-2 border-slate-400  p-2">{{worker.worker.name}}</h2>
        <h3 class="  grid min-[350px]:grid-cols-[max-content_1fr] min-[350px]:items-baseline p-2 mt-2"> status: <p class="ml-2 inline-block ">{{worker.worker.status}}</p></h3>
        </div>
          
        
      </div>
      <div class="grid min-[400px]:grid-cols-2 my-3 ">
        <button  (click)="setDetails('address')" class="block border-green-700 rounded-full button max-[400px]:my-1 min-[400px]:mx-1"> See address </button>
           
        <button  (click)="setDetails('tasks')" *ngIf="worker.tasks.length" class="border-green-700  rounded-full  button max-[400px]:my-1 min-[400px]:mx-1"> See Tasks </button>
         </div>
  
     
    <div>
    <div *ngIf="details().address.length || details().tasks.length">
      <div *ngIf="details().tasks.length; else addresses">
        <div *ngIf="details().tasks as tasks">
          
          <div *ngIf="tasks.length===1 && details().showDetails;else tasksFull">
            <p *ngIf="info">{{info}}</p>
            <div *ngIf="tasks[0] as task">
             
              <app-detailed-block [task]="task" [t]="isLoading()">
                @if(isLoading()){
                  <div ngProjectAs="details">
                    <p class="my-3"> Task is being removed...</p>
                    <app-loader  />
                  </div>
                }@else {
                 
                    <button (click)="showDetails(task.id)" class="button rounded-full
                    max-[430px]:my-2 max-[430px]:mx-0 w-full my-1"> Details</button>
                    <button (click)="removeTask(task.id)" class="button rounded-full
                    max-[430px]:my-2 max-[430px]:mx-0 w-full my-1">Remove</button>
                  

                }
               
                
                 <div *ngIf="!isLoading()" ngProjectAs="details" class=" my-2 p-3 border-2 border-slate-300">
                <h2> Title: {{task.title}} </h2>
      <p> Task: {{task.content}}</p>
      <p>Added by: {{task.addedBy}}</p>
      <p> this task should be done until: {{task.deadline.split("T")[0]}}</p>
                </div>
              </app-detailed-block>
               
            </div>
         
              </div>
          <ng-template #tasksFull>
            <p>There are {{tasks.length}}  {{details().name}} to show</p>
            @for(task of tasks; track task.id){
           
              <app-detailed-block [task]="task" [t]="isLoading()" >
                @if (isLoading()) {
                  <div ngProjectAs="details">
                    <p class="my-3"> task is being removed...</p>
                    <app-loader  />
                  </div>
                }@else {
                   
                      <button (click)="showDetails(task.id)" class="button rounded-full
                      max-[430px]:my-2 max-[430px]:mx-0 w-full my-1">Details</button>
                      <button  (click)="removeTask(task.id)" class="button rounded-full
                      max-[430px]:my-2 max-[430px]:mx-0 w-full my-1" >Remove</button>
                   
                   
                 
                }
                
               
              
     
              </app-detailed-block>
            }
  
          </ng-template>
         
  
          </div>
      
         </div>
        <ng-template #addresses>
          <!-- ADDRESSES  -->
        <div *ngIf="details().address.length as amount; else addressEmpty"> 
<p>There are {{amount}} addresses to show </p> 
@for (address of details().address; track $index) {
  <app-detailed-block [address]="address">
    @if ($first) {
      <p ngProjectAs="details"> Main address</p>
    }
    </app-detailed-block>
}
      </div>
        <ng-template #addressEmpty>
          <p> No addresses to show</p>
         </ng-template>
        </ng-template>
   
  
   
       </div>
    </div>
    </div>
  
  </div>


