<div (click)="setWorkerId()" class="bg-purple-950 w-[30vw] my-5  text-slate-200 p-2 cursor-pointer" >
  <div class="flex items-center justify-evenly  bg-green-900">
    <img
    class="rounded-full mr-4 w-[50px] h-[50px]"
    [src]="worker().image || worker().avatar?.url"
    [alt]="'image of worker ' + worker().firstName + ' ' + worker().lastName"
  />
    <p>{{ worker().firstName }} {{ worker().lastName }}</p>
  </div>

 
  <div class="flex justify-between items-center my-3 ">
    <button class="button" (click)="details($event)">See details</button>
    <p class="text-yellow-900">Status: <span >Online</span></p>
  </div>
</div>
