/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/magenta-violet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  padding: 0;
  margin:0;
}
@layer base{
  input,select,textarea{
    @apply  bg-purple-900 outline-none focus-visible:outline-none
  }
  .divider input{
    @apply max-[220px]:w-[100%]
  }
}
@layer components{
  .button{
    @apply block border-b-2 text-slate-300 border-green-300  max-[400px]:my-1 min-[400px]:mx-1 px-2 py-1 min-[250px]:p-2 hover:border-green-700  hover:text-slate-200
  }


  .button--disabled{
    @apply border-gray-600 text-gray-600 hover:border-gray-600 hover:text-gray-600
  }
  .holder{
    @apply bg-purple-950 text-slate-200  p-0  m-0 min-[350px]:p-4 min-[350px]:m-4
  }
  .divider{
    @apply grid min-[400px]:grid-cols-[20%_1fr] gap-y-4  gap-x-2  min-[350px]:my-4;
  }
  .info{
    @apply bg-green-600 text-slate-200 text-center m-4 p-2
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
